@use 'styles/abstracts' as a;
@use 'styles/mixin' as m;

.nav-content {
  padding-right: 30px;
  font-size: 1.4rem;

  .nav-content-link {
    color: a.$clrTextCommon;

    &:hover {
      color: a.$clrMainGreen;
    }

    @include m.mobile {
      color: a.$clrWhite;
      font-size: 1.6rem;
    }
  }

  .sign-out-button {
    background-color: a.$clrMainGreen;
    color: a.$clrWhite;
    padding: 10px 14px;
    font-size: 1.2rem;
    border-radius: 10px;

    &:hover {
      opacity: 0.9;
    }
  }

  @include m.mobile {
    padding: 0 0 2rem 0;
  }
}
