@use '@/styles/mixin' as m;

.nav-content {
  padding-right: 20px;

  .nav-content-link {
    color: #3d3935;

    &:hover {
      color: var(--main-color);
    }

    @include m.mobile {
      color: #fff;
      font-size: 1.6rem;
    }
  }

  @include m.mobile {
    padding: 0 0 2rem 0;
  }
}
