@use 'styles/mixin' as m;
@use 'styles/abstracts' as a;

.banner {
  width: 100%;
  background-color: var(--main-color);
  text-align: center;
  padding: 48px 0;
  margin-top: a.$headerHeight;
}

.banner-content {
  margin: 0 20px;

  .banner-title1 {
    font-size: 2.5rem;
    margin: 0;
    color: a.$clrWhite;
    margin-bottom: 30px;

    @include m.tablet {
      line-height: 1.2;
      @include m.mobile {
        font-size: 2rem;

        margin-bottom: 16px;
      }
    }

    span {
      font-weight: 100;
    }
  }

  .banner-explanation {
    line-height: 1.2;
    word-spacing: -1px;
    color: a.$clrWhite;
    font-size: 1.2rem;

    @include m.mobile {
      font-size: 0.9rem;

      .banner-explanation-indention {
        display: none;
      }
    }
  }

  .banner-title2 {
    font-size: 2.5rem;
    margin: 0;
    color: a.$clrWhite;

    @include m.tablet {
      line-height: 1.2;
      @include m.mobile {
        font-size: 2rem;

        margin-bottom: 16px;
      }
    }

    span {
      font-weight: 100;
    }
  }
}
