@use "@/styles/abstracts" as a;


.selection {
    &Container {
        margin-bottom: 100px;
    }

    &Items {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding: 10px 20px;
    }

    &Item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &ItemButton {
        width: 200px;
        height: 200px;
        background-color: a.$clrWhite;
        border: none;

        &_active {
            background-color: a.$clrSelected;
        }
    }
}